## Sequence data type : Range()

In [1]:
x=list(range(5)) # 0,1,2,3,4, displays numbers upto 5 not including 5
print(x)

[0, 1, 2, 3, 4]

In [17]:
# range starts from 0
for i in range(5):  # in is a operator - which takes each value from the range()
    print(i)

0
1
2
3
4

In [7]:
for i in range(5,10): # start with 5 upto 10
    print(i)

5
6
7
8
9

In [16]:
# start , end and increment steps
for i in range(10,25,2):
    print(i)

10
12
14
16
18
20
22
24

In [12]:
#use -ve values in to range()
for i in range(-5,5,3):
    print(i)

-5
-2
1
4

In [15]:
#all -ve values
for i in range(-10,-25,-2):
    print(i)

-10
-12
-14
-16
-18
-20
-22
-24

### list is sequence of value s in [ ]

In [19]:
# list of values
even=[2,4,68]
print(type(even))

<type 'list'>

In [23]:
# list of string values
fruits=['apple','grapes','mango','pear']
print((fruits))

['apple', 'grapes', 'mango', 'pear']

In [24]:
# list of real values
y=[1.5,3,4.9,7,5.45]
flags=[True,False,True,True,False]

In [29]:
# list of complex data
complx=[1,3.5,True,'Vijay',7.7,False]

In [30]:
# number of elements in the list - len()
print(len(complx))
print(len(flags))

6
5

In [31]:
# list in the for loop
for i in fruits:
    print(fruits)

['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango', 'pear']

In [32]:
# list in the for loop
for i in fruits:
    print(fruits)

['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango', 'pear']

### in operator takes each elements of the sequence range() list

In [33]:
even

[2, 4, 68]

In [41]:
# sum of the elemetsn in the list
sum=0
for element in even:
    sum+=element
print("sum of elements = ",sum)

('sum of elements = ', 74)

In [42]:
sum(even)

TypeError: 'int' object is not callable

In [40]:
# library function for sum of list
total =int(sum(even))
print(total)

TypeError: 'int' object is not callable

In [49]:
# for loop if given number os prime
n=int(input("number "))
for i in range(2, n//2+1):
    if n%i==0:
       print("not prime number ")
       break
else:
    print("prime")

number 5
prime

In [58]:
# nested for - loop

for n in range(10,30):
    for i in range(2, n//2+1):
        if n%i==0:
                print(n, "not prime number ")
                break
    else:
         print(n, "prime")

(10, 'not prime number ')
(11, 'prime')
(12, 'not prime number ')
(13, 'prime')
(14, 'not prime number ')
(15, 'not prime number ')
(16, 'not prime number ')
(17, 'prime')
(18, 'not prime number ')
(19, 'prime')
(20, 'not prime number ')
(21, 'not prime number ')
(22, 'not prime number ')
(23, 'prime')
(24, 'not prime number ')
(25, 'not prime number ')
(26, 'not prime number ')
(27, 'not prime number ')
(28, 'not prime number ')
(29, 'prime')

In [59]:
# nested for - loop

for n in range(10,30):
    for i in range(2, n//2+1):
        if n%i==0:
               # print(n, "not prime number ")
                break
    else:
         print(n, "prime")

(11, 'prime')
(13, 'prime')
(17, 'prime')
(19, 'prime')
(23, 'prime')
(29, 'prime')

In [68]:
# square diagram of A
size=int(input("Size of the square "))
for n in range(size):
    for j in range(size):
        print('A ')

Size of the square 3
A
A
A
A
A
A
A
A
A

In [69]:
# we cannot have empty for - loop
for i in range(5):

IndentationError: expected an indented block (<ipython-input-69-e7047a0ff03c>, line 2)

In [70]:
fruits

['apple', 'grapes', 'mango', 'pear']

In [71]:
len(fruits)

4

### indexing of the list

In [73]:
# index of list starts from - 0
print(fruits)
print(fruits[3])

['apple', 'grapes', 'mango', 'pear']
pear

In [78]:
print(fruits)
print(fruits[1:3])

['apple', 'grapes', 'mango', 'pear']
['grapes', 'mango']

In [80]:
# elements upto 3
print(fruits)
print(fruits[:3])

['apple', 'grapes', 'mango', 'pear']
['apple', 'grapes', 'mango']

In [84]:
# elements 2 to last
print(fruits)
print(fruits[1:])

['apple', 'grapes', 'mango', 'pear']
['grapes', 'mango', 'pear']

In [85]:
fruits[:]

['apple', 'grapes', 'mango', 'pear']

In [92]:
# elements from start to last - 2
print(fruits)
print(fruits[:-2])

['apple', 'grapes', 'banana', 'pear']
['apple', 'grapes']

In [91]:
# change the elements of list

print(fruits)
fruits[2]='banana'
print(fruits)

['apple', 'grapes', 'banana', 'pear']
['apple', 'grapes', 'banana', 'pear']

In [93]:
# + concatenate 2 lists
x=[1,2,3]
y=[3,4,5,6]
z=x+y
print(z)

[1, 2, 3, 3, 4, 5, 6]

In [94]:
zn=y+x
print(zn)

[3, 4, 5, 6, 1, 2, 3]

In [95]:
x=[1,2,3]
y=[3,4,5,6]
z=x+y
print(z)
print(x+[300])

[1, 2, 3, 3, 4, 5, 6]
[1, 2, 3, 300]

In [98]:
# append a value to list
print(even)
even.append(200)
print(even)

[2, 4, 68]
[2, 4, 68, 200]

In [100]:
# insert a value to list
print(even)
even.insert(4,100)
print(even)

[2, 4, 68, 200, 100]
[2, 4, 68, 200, 100, 100]

In [101]:
even.index(100)

4

In [102]:
#search for the element index
even.index(100,4)

4

In [105]:
# delete the specified element
print(even)
even.remove(100)
print(even)

[2, 4, 68, 200, 100, 100]
[2, 4, 68, 200, 100]

In [106]:
print(even)
even.remove(4)
print(even)

[2, 4, 68, 200, 100]
[2, 68, 200, 100]

In [107]:
print(even)
even.insert(5,500)
print(even)

[2, 68, 200, 100]
[2, 68, 200, 100, 500]

In [109]:
# add elements
even=even+[8,12,46,88]
print(even)

[2, 68, 200, 100, 500, 8, 12, 46, 88, 8, 12, 46, 88]

In [110]:
# frequency of an element
even.count(8)

2

In [111]:
# pop element by index
print(even)
even.pop(4)
print(even)

[2, 68, 200, 100, 500, 8, 12, 46, 88, 8, 12, 46, 88]
[2, 68, 200, 100, 8, 12, 46, 88, 8, 12, 46, 88]

In [113]:
# remove element without index - lasst element is removed
print(even)
even.pop()
print(even)

[2, 68, 200, 100, 8, 12, 46, 88, 8, 12, 46]
[2, 68, 200, 100, 8, 12, 46, 88, 8, 12]

In [114]:
# delete a range of values
print(even)
del even[2:4]
print(even)

[2, 68, 200, 100, 8, 12, 46, 88, 8, 12]
[2, 68, 8, 12, 46, 88, 8, 12]

In [115]:
# clear list
print(even)
even.clear()
print(even)

[2, 68, 8, 12, 46, 88, 8, 12]

AttributeError: 'list' object has no attribute 'clear'

In [117]:
# create a empty list
print(even)
l=[]
print(l)

[2, 68, 8, 12, 46, 88, 8, 12]
[]

In [118]:
# create a empty list
l=list()
print(l)

[]

### Stack: add values and remove at top LIFO

In [119]:
# create a list from the user
ls=[]
for i in range(5):
    element=input("Enter the element ")
    ls.append(element)
    print(ls)

Enter the element 1
[1]
Enter the element 2
[1, 2]
Enter the element 3
[1, 2, 3]
Enter the element 5
[1, 2, 3, 5]
Enter the element 7
[1, 2, 3, 5, 7]

In [120]:
complx

[1, 3.5, True, 'Vijay', 7.7, False]

In [121]:
for i in complx:
    print(type(i))

<type 'int'>
<type 'float'>
<type 'bool'>
<type 'str'>
<type 'float'>
<type 'bool'>

In [122]:
complx.append(10+5j)

In [123]:
complx

[1, 3.5, True, 'Vijay', 7.7, False, (10+5j)]

In [124]:
for i in complx:
    print(type(i))

<type 'int'>
<type 'float'>
<type 'bool'>
<type 'str'>
<type 'float'>
<type 'bool'>
<type 'complex'>

In [127]:
# print all the values except string type
for i in complx:
    if type(i)==str:
        continue
    print(i)

1
3.5
True
7.7
False
(10+5j)

In [130]:
# using isinstance() print all the values except string type

for i in complx:
    if isinstance(i,str):
        continue
    print(i)

1
3.5
True
7.7
False
(10+5j)